@model IEnumerable<Notfy.Models.Notificacao>

@{
    ViewBag.Title = "Index";
}

<h3>NOTIFICAÇÕES</h3>

<p>
    @Html.ActionLink("Incluir nova notificação", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatriculaImovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sequencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tentativa1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tentativa2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tentativa3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Concluido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notificador.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notificando.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculaImovel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sequencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tentativa1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tentativa2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tentativa3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Concluido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notificador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notificando.Nome)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Visualizar", "Details", new { id=item.ID }) |
            @Html.ActionLink("Excluir", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
