@model Notfy.Models.Notificador

@{
    ViewBag.Title = "Delete";
}

<h3>EXCLUIR</h3>

<div class="body-detalhes">
    <h4>Você tem certeza que deseja excluir?</h4>
    <div>
        <h4>Notificador</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CPF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CPF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <p>
                <a href='@Url.Action("Index", "Notificadors")' class="fa fa-arrow-circle-left fa-2x" style="text-decoration: none;" title="Voltar"></a>
                <button type="submit" class="btn btn-danger" style="text-decoration: none; margin-top: -15px;" title="Excluir notificador">Excluir</button>
            </p>
        }
    </div>
</div>

